[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
redis = "*"
flask-sqlalchemy = "*"
python-decouple = "*"

[dev-packages]
psycopg2-binary = "*"

[scripts]
server          = "python app.py"

[requires]
python_version = "3.8"
